:root {
  font-family: 'Sora', system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #050505;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #050505;
  background-image:
    radial-gradient(circle at 10% 20%, rgba(135, 80, 247, 0.1) 0%, transparent 20%),
    radial-gradient(circle at 90% 80%, rgba(135, 80, 247, 0.1) 0%, transparent 20%);
}

#root { 
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0f0f0f;
}

::-webkit-scrollbar-thumb {
  background: #8750f7;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5c37aa;
}